In [45]:
from datetime import datetime

import pandas as pd

In [2]:
def parse(x):
    return datetime.strptime(x, "%Y %m %d %H")

In [3]:
dataset = pd.read_csv(
    "pollution.csv",
    parse_dates=[["year", "month", "day", "hour"]],
    index_col=0,
    date_parser=parse,
)

In [4]:
dataset.drop("No", axis=1, inplace=True)

In [5]:
dataset.columns = [
    "pollution",
    "dew",
    "temp",
    "press",
    "wnd_dir",
    "wnd_spd",
    "snow",
    "rain",
]
dataset.index.name = "date"
# mark all NA values with 0
dataset["pollution"].fillna(0, inplace=True)
# drop the first 24 hours
dataset = dataset[24:]

In [6]:
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [7]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [8]:
encoder = LabelEncoder()
values = dataset.values

In [9]:
values[:, 4] = encoder.fit_transform(values[:, 4])

In [10]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [11]:
scaled = scaler.fit_transform(values)

In [12]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()

    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [("var%d(t-%d)" % (j + 1, i)) for j in range(n_vars)]

    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [("var%d(t)" % (j + 1)) for j in range(n_vars)]
        else:
            names += [("var%d(t+%d)" % (j + 1, i)) for j in range(n_vars)]

    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [13]:
reframed = series_to_supervised(scaled, 1, 1)

# dropping cols we dont want to predict
reframed.drop(reframed.columns[[9, 10, 11, 12, 13, 14, 15]], axis=1, inplace=True)

In [14]:
reframed.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var1(t)
1,0.129779,0.352941,0.245902,0.527273,0.666667,0.002290,0.000000,0.0,0.148893
2,0.148893,0.367647,0.245902,0.527273,0.666667,0.003811,0.000000,0.0,0.159960
3,0.159960,0.426471,0.229508,0.545455,0.666667,0.005332,0.000000,0.0,0.182093
4,0.182093,0.485294,0.229508,0.563636,0.666667,0.008391,0.037037,0.0,0.138833
5,0.138833,0.485294,0.229508,0.563636,0.666667,0.009912,0.074074,0.0,0.109658

In [15]:
n_train_hours = 365 * 24
train = reframed[:n_train_hours]
test = reframed[n_train_hours:]

In [16]:
train.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var1(t)
1,0.129779,0.352941,0.245902,0.527273,0.666667,0.002290,0.000000,0.0,0.148893
2,0.148893,0.367647,0.245902,0.527273,0.666667,0.003811,0.000000,0.0,0.159960
3,0.159960,0.426471,0.229508,0.545455,0.666667,0.005332,0.000000,0.0,0.182093
4,0.182093,0.485294,0.229508,0.563636,0.666667,0.008391,0.037037,0.0,0.138833
5,0.138833,0.485294,0.229508,0.563636,0.666667,0.009912,0.074074,0.0,0.109658

In [24]:
X = train.drop("var1(t)", axis=1)
y = train["var1(t)"]

In [26]:
X.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1)
1,0.129779,0.352941,0.245902,0.527273,0.666667,0.002290,0.000000,0.0
2,0.148893,0.367647,0.245902,0.527273,0.666667,0.003811,0.000000,0.0
3,0.159960,0.426471,0.229508,0.545455,0.666667,0.005332,0.000000,0.0
4,0.182093,0.485294,0.229508,0.563636,0.666667,0.008391,0.037037,0.0
5,0.138833,0.485294,0.229508,0.563636,0.666667,0.009912,0.074074,0.0

In [28]:
y.head()

1    0.148893
2    0.159960
3    0.182093
4    0.138833
5    0.109658
Name: var1(t), dtype: float64

In [29]:
import numpy as np


def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        # find the end of this pattern
        end_ix = i + n_steps
        # check if we are beyond the sequence
        if end_ix > len(sequence) - 1:
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

In [30]:
X = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
n_steps = 3

In [32]:
X, y = split_sequence(X, n_steps)

In [33]:
X

array([[10, 20, 30],
       [20, 30, 40],
       [30, 40, 50],
       [40, 50, 60],
       [50, 60, 70],
       [60, 70, 80]])

In [34]:
y

array([40, 50, 60, 70, 80, 90])

In [36]:
from tensorflow import keras

In [37]:
# define model
model = keras.models.Sequential()
model.add(keras.layers.Dense(100, activation="relu", input_dim=n_steps))
model.add(keras.layers.Dense(1))
model.compile(optimizer="adam", loss="mse")

2022-10-17 10:45:34.174506: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /app/lib
2022-10-17 10:45:34.174545: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-10-17 10:45:34.174573: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (pop-os): /proc/driver/nvidia/version does not exist
2022-10-17 10:45:34.178804: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [42]:
model.fit(X, y, epochs=200)

Epoch 1/200
1/1 [==============================] - 0s 7ms/step - loss: 1937.0470
Epoch 2/200
1/1 [==============================] - 0s 7ms/step - loss: 1830.4032
Epoch 3/200
1/1 [==============================] - 0s 5ms/step - loss: 1727.9540
Epoch 4/200
1/1 [==============================] - 0s 6ms/step - loss: 1629.8126
Epoch 5/200
1/1 [==============================] - 0s 6ms/step - loss: 1535.2643
Epoch 6/200
1/1 [==============================] - 0s 8ms/step - loss: 1443.7164
Epoch 7/200
1/1 [==============================] - 0s 7ms/step - loss: 1355.5659
Epoch 8/200
1/1 [==============================] - 0s 7ms/step - loss: 1270.8661
Epoch 9/200
1/1 [==============================] - 0s 5ms/step - loss: 1189.5439
Epoch 10/200
1/1 [==============================] - 0s 6ms/step - loss: 1111.7380
Epoch 11/200
1/1 [==============================] - 0s 7ms/step - loss: 1037.5265
Epoch 12/200
1/1 [==============================] - 0s 6ms/step - loss: 966.6490
Epoch 13/200
1/1 [==============================] - 0s 7ms/step - loss: 899.2349
Epoch 14/200
1/1 [==============================] - 0s 6ms/step - loss: 834.9854
Epoch 15/200
1/1 [==============================] - 0s 5ms/step - loss: 773.8542
Epoch 16/200
1/1 [==============================] - 0s 5ms/step - loss: 715.9111
Epoch 17/200
1/1 [==============================] - 0s 6ms/step - loss: 661.0070
Epoch 18/200
1/1 [==============================] - 0s 5ms/step - loss: 609.0500
Epoch 19/200
1/1 [==============================] - 0s 8ms/step - loss: 560.2299
Epoch 20/200
1/1 [==============================] - 0s 7ms/step - loss: 514.4788
Epoch 21/200
1/1 [==============================] - 0s 5ms/step - loss: 471.5779
Epoch 22/200
1/1 [==============================] - 0s 7ms/step - loss: 431.3228
Epoch 23/200
1/1 [==============================] - 0s 5ms/step - loss: 393.7173
Epoch 24/200
1/1 [==============================] - 0s 9ms/step - loss: 358.6057
Epoch 25/200
1/1 [==============================] - 0s 5ms/step - loss: 325.8826
Epoch 26/200
1/1 [==============================] - 0s 8ms/step - loss: 295.4928
Epoch 27/200
1/1 [==============================] - 0s 6ms/step - loss: 267.3337
Epoch 28/200
1/1 [==============================] - 0s 7ms/step - loss: 241.3099
Epoch 29/200
1/1 [==============================] - 0s 5ms/step - loss: 217.3378
Epoch 30/200
1/1 [==============================] - 0s 5ms/step - loss: 195.3318
Epoch 31/200
1/1 [==============================] - 0s 6ms/step - loss: 175.2175
Epoch 32/200
1/1 [==============================] - 0s 6ms/step - loss: 156.8911
Epoch 33/200
1/1 [==============================] - 0s 5ms/step - loss: 140.2618
Epoch 34/200
1/1 [==============================] - 0s 5ms/step - loss: 125.2383
Epoch 35/200
1/1 [==============================] - 0s 5ms/step - loss: 111.7288
Epoch 36/200
1/1 [==============================] - 0s 5ms/step - loss: 99.6409
Epoch 37/200
1/1 [==============================] - 0s 7ms/step - loss: 88.8828
Epoch 38/200
1/1 [==============================] - 0s 6ms/step - loss: 79.3633
Epoch 39/200
1/1 [==============================] - 0s 8ms/step - loss: 70.9921
Epoch 40/200
1/1 [==============================] - 0s 6ms/step - loss: 63.6858
Epoch 41/200
1/1 [==============================] - 0s 5ms/step - loss: 57.3647
Epoch 42/200
1/1 [==============================] - 0s 5ms/step - loss: 51.9349
Epoch 43/200
1/1 [==============================] - 0s 6ms/step - loss: 47.3084
Epoch 44/200
1/1 [==============================] - 0s 5ms/step - loss: 43.4062
Epoch 45/200
1/1 [==============================] - 0s 5ms/step - loss: 40.1525
Epoch 46/200
1/1 [==============================] - 0s 5ms/step - loss: 37.4755
Epoch 47/200
1/1 [==============================] - 0s 5ms/step - loss: 35.3068
Epoch 48/200
1/1 [==============================] - 0s 6ms/step - loss: 33.5825
Epoch 49/200
1/1 [==============================] - 0s 5ms/step - loss: 32.2450
Epoch 50/200
1/1 [==============================] - 0s 5ms/step - loss: 31.2374
Epoch 51/200
1/1 [==============================] - 0s 6ms/step - loss: 30.5074
Epoch 52/200
1/1 [==============================] - 0s 6ms/step - loss: 30.0087
Epoch 53/200
1/1 [==============================] - 0s 6ms/step - loss: 29.6947
Epoch 54/200
1/1 [==============================] - 0s 7ms/step - loss: 29.5299
Epoch 55/200
1/1 [==============================] - 0s 6ms/step - loss: 29.4834
Epoch 56/200
1/1 [==============================] - 0s 7ms/step - loss: 29.5258
Epoch 57/200
1/1 [==============================] - 0s 5ms/step - loss: 29.6320
Epoch 58/200
1/1 [==============================] - 0s 5ms/step - loss: 29.7805
Epoch 59/200
1/1 [==============================] - 0s 6ms/step - loss: 29.9534
Epoch 60/200
1/1 [==============================] - 0s 6ms/step - loss: 30.1357
Epoch 61/200
1/1 [==============================] - 0s 7ms/step - loss: 30.3154
Epoch 62/200
1/1 [==============================] - 0s 5ms/step - loss: 30.4833
Epoch 63/200
1/1 [==============================] - 0s 7ms/step - loss: 30.6323
Epoch 64/200
1/1 [==============================] - 0s 5ms/step - loss: 30.7589
Epoch 65/200
1/1 [==============================] - 0s 7ms/step - loss: 30.8586
Epoch 66/200
1/1 [==============================] - 0s 5ms/step - loss: 30.9295
Epoch 67/200
1/1 [==============================] - 0s 8ms/step - loss: 30.9714
Epoch 68/200
1/1 [==============================] - 0s 6ms/step - loss: 30.9849
Epoch 69/200
1/1 [==============================] - 0s 5ms/step - loss: 30.9715
Epoch 70/200
1/1 [==============================] - 0s 5ms/step - loss: 30.9331
Epoch 71/200
1/1 [==============================] - 0s 7ms/step - loss: 30.8724
Epoch 72/200
1/1 [==============================] - 0s 5ms/step - loss: 30.7922
Epoch 73/200
1/1 [==============================] - 0s 7ms/step - loss: 30.6955
Epoch 74/200
1/1 [==============================] - 0s 6ms/step - loss: 30.5852
Epoch 75/200
1/1 [==============================] - 0s 7ms/step - loss: 30.4642
Epoch 76/200
1/1 [==============================] - 0s 6ms/step - loss: 30.3356
Epoch 77/200
1/1 [==============================] - 0s 6ms/step - loss: 30.2019
Epoch 78/200
1/1 [==============================] - 0s 6ms/step - loss: 30.0655
Epoch 79/200
1/1 [==============================] - 0s 7ms/step - loss: 29.9287
Epoch 80/200
1/1 [==============================] - 0s 5ms/step - loss: 29.7932
Epoch 81/200
1/1 [==============================] - 0s 6ms/step - loss: 29.6608
Epoch 82/200
1/1 [==============================] - 0s 5ms/step - loss: 29.5328
Epoch 83/200
1/1 [==============================] - 0s 5ms/step - loss: 29.4102
Epoch 84/200
1/1 [==============================] - 0s 5ms/step - loss: 29.2937
Epoch 85/200
1/1 [==============================] - 0s 6ms/step - loss: 29.1841
Epoch 86/200
1/1 [==============================] - 0s 5ms/step - loss: 29.0816
Epoch 87/200
1/1 [==============================] - 0s 7ms/step - loss: 28.9863
Epoch 88/200
1/1 [==============================] - 0s 6ms/step - loss: 28.8984
Epoch 89/200
1/1 [==============================] - 0s 6ms/step - loss: 28.8178
Epoch 90/200
1/1 [==============================] - 0s 5ms/step - loss: 28.7448
Epoch 91/200
1/1 [==============================] - 0s 6ms/step - loss: 28.6782
Epoch 92/200
1/1 [==============================] - 0s 6ms/step - loss: 28.6178
Epoch 93/200
1/1 [==============================] - 0s 6ms/step - loss: 28.5628
Epoch 94/200
1/1 [==============================] - 0s 5ms/step - loss: 28.5128
Epoch 95/200
1/1 [==============================] - 0s 5ms/step - loss: 28.4673
Epoch 96/200
1/1 [==============================] - 0s 4ms/step - loss: 28.4256
Epoch 97/200
1/1 [==============================] - 0s 5ms/step - loss: 28.3873
Epoch 98/200
1/1 [==============================] - 0s 5ms/step - loss: 28.3519
Epoch 99/200
1/1 [==============================] - 0s 7ms/step - loss: 28.3187
Epoch 100/200
1/1 [==============================] - 0s 11ms/step - loss: 28.2875
Epoch 101/200
1/1 [==============================] - 0s 12ms/step - loss: 28.2579
Epoch 102/200
1/1 [==============================] - 0s 8ms/step - loss: 28.2297
Epoch 103/200
1/1 [==============================] - 0s 8ms/step - loss: 28.2019
Epoch 104/200
1/1 [==============================] - 0s 7ms/step - loss: 28.1746
Epoch 105/200
1/1 [==============================] - 0s 5ms/step - loss: 28.1474
Epoch 106/200
1/1 [==============================] - 0s 10ms/step - loss: 28.1203
Epoch 107/200
1/1 [==============================] - 0s 7ms/step - loss: 28.0931
Epoch 108/200
1/1 [==============================] - 0s 6ms/step - loss: 28.0655
Epoch 109/200
1/1 [==============================] - 0s 7ms/step - loss: 28.0377
Epoch 110/200
1/1 [==============================] - 0s 5ms/step - loss: 28.0094
Epoch 111/200
1/1 [==============================] - 0s 8ms/step - loss: 27.9807
Epoch 112/200
1/1 [==============================] - 0s 6ms/step - loss: 27.9515
Epoch 113/200
1/1 [==============================] - 0s 7ms/step - loss: 27.9218
Epoch 114/200
1/1 [==============================] - 0s 5ms/step - loss: 27.8917
Epoch 115/200
1/1 [==============================] - 0s 8ms/step - loss: 27.8612
Epoch 116/200
1/1 [==============================] - 0s 6ms/step - loss: 27.8302
Epoch 117/200
1/1 [==============================] - 0s 6ms/step - loss: 27.7989
Epoch 118/200
1/1 [==============================] - 0s 8ms/step - loss: 27.7673
Epoch 119/200
1/1 [==============================] - 0s 7ms/step - loss: 27.7354
Epoch 120/200
1/1 [==============================] - 0s 7ms/step - loss: 27.7033
Epoch 121/200
1/1 [==============================] - 0s 5ms/step - loss: 27.6709
Epoch 122/200
1/1 [==============================] - 0s 7ms/step - loss: 27.6385
Epoch 123/200
1/1 [==============================] - 0s 8ms/step - loss: 27.6059
Epoch 124/200
1/1 [==============================] - 0s 6ms/step - loss: 27.5732
Epoch 125/200
1/1 [==============================] - 0s 5ms/step - loss: 27.5405
Epoch 126/200
1/1 [==============================] - 0s 6ms/step - loss: 27.5077
Epoch 127/200
1/1 [==============================] - 0s 4ms/step - loss: 27.4749
Epoch 128/200
1/1 [==============================] - 0s 6ms/step - loss: 27.4421
Epoch 129/200
1/1 [==============================] - 0s 4ms/step - loss: 27.4093
Epoch 130/200
1/1 [==============================] - 0s 7ms/step - loss: 27.3765
Epoch 131/200
1/1 [==============================] - 0s 7ms/step - loss: 27.3437
Epoch 132/200
1/1 [==============================] - 0s 7ms/step - loss: 27.3109
Epoch 133/200
1/1 [==============================] - 0s 4ms/step - loss: 27.2782
Epoch 134/200
1/1 [==============================] - 0s 6ms/step - loss: 27.2454
Epoch 135/200
1/1 [==============================] - 0s 4ms/step - loss: 27.2127
Epoch 136/200
1/1 [==============================] - 0s 6ms/step - loss: 27.1799
Epoch 137/200
1/1 [==============================] - 0s 5ms/step - loss: 27.1472
Epoch 138/200
1/1 [==============================] - 0s 7ms/step - loss: 27.1144
Epoch 139/200
1/1 [==============================] - 0s 6ms/step - loss: 27.0815
Epoch 140/200
1/1 [==============================] - 0s 6ms/step - loss: 27.0487
Epoch 141/200
1/1 [==============================] - 0s 5ms/step - loss: 27.0158
Epoch 142/200
1/1 [==============================] - 0s 8ms/step - loss: 26.9829
Epoch 143/200
1/1 [==============================] - 0s 5ms/step - loss: 26.9499
Epoch 144/200
1/1 [==============================] - 0s 8ms/step - loss: 26.9169
Epoch 145/200
1/1 [==============================] - 0s 5ms/step - loss: 26.8837
Epoch 146/200
1/1 [==============================] - 0s 6ms/step - loss: 26.8506
Epoch 147/200
1/1 [==============================] - 0s 4ms/step - loss: 26.8174
Epoch 148/200
1/1 [==============================] - 0s 6ms/step - loss: 26.7840
Epoch 149/200
1/1 [==============================] - 0s 4ms/step - loss: 26.7507
Epoch 150/200
1/1 [==============================] - 0s 5ms/step - loss: 26.7172
Epoch 151/200
1/1 [==============================] - 0s 7ms/step - loss: 26.6837
Epoch 152/200
1/1 [==============================] - 0s 9ms/step - loss: 26.6501
Epoch 153/200
1/1 [==============================] - 0s 7ms/step - loss: 26.6164
Epoch 154/200
1/1 [==============================] - 0s 7ms/step - loss: 26.5827
Epoch 155/200
1/1 [==============================] - 0s 8ms/step - loss: 26.5490
Epoch 156/200
1/1 [==============================] - 0s 7ms/step - loss: 26.5152
Epoch 157/200
1/1 [==============================] - 0s 8ms/step - loss: 26.4814
Epoch 158/200
1/1 [==============================] - 0s 9ms/step - loss: 26.4478
Epoch 159/200
1/1 [==============================] - 0s 6ms/step - loss: 26.4157
Epoch 160/200
1/1 [==============================] - 0s 7ms/step - loss: 26.3836
Epoch 161/200
1/1 [==============================] - 0s 5ms/step - loss: 26.3514
Epoch 162/200
1/1 [==============================] - 0s 9ms/step - loss: 26.3191
Epoch 163/200
1/1 [==============================] - 0s 6ms/step - loss: 26.2869
Epoch 164/200
1/1 [==============================] - 0s 8ms/step - loss: 26.2545
Epoch 165/200
1/1 [==============================] - 0s 10ms/step - loss: 26.2221
Epoch 166/200
1/1 [==============================] - 0s 8ms/step - loss: 26.1896
Epoch 167/200
1/1 [==============================] - 0s 7ms/step - loss: 26.1571
Epoch 168/200
1/1 [==============================] - 0s 6ms/step - loss: 26.1245
Epoch 169/200
1/1 [==============================] - 0s 6ms/step - loss: 26.0919
Epoch 170/200
1/1 [==============================] - 0s 4ms/step - loss: 26.0592
Epoch 171/200
1/1 [==============================] - 0s 7ms/step - loss: 26.0265
Epoch 172/200
1/1 [==============================] - 0s 5ms/step - loss: 25.9937
Epoch 173/200
1/1 [==============================] - 0s 5ms/step - loss: 25.9609
Epoch 174/200
1/1 [==============================] - 0s 4ms/step - loss: 25.9280
Epoch 175/200
1/1 [==============================] - 0s 5ms/step - loss: 25.8951
Epoch 176/200
1/1 [==============================] - 0s 5ms/step - loss: 25.8620
Epoch 177/200
1/1 [==============================] - 0s 5ms/step - loss: 25.8290
Epoch 178/200
1/1 [==============================] - 0s 5ms/step - loss: 25.7959
Epoch 179/200
1/1 [==============================] - 0s 5ms/step - loss: 25.7627
Epoch 180/200
1/1 [==============================] - 0s 6ms/step - loss: 25.7295
Epoch 181/200
1/1 [==============================] - 0s 4ms/step - loss: 25.6962
Epoch 182/200
1/1 [==============================] - 0s 7ms/step - loss: 25.6629
Epoch 183/200
1/1 [==============================] - 0s 4ms/step - loss: 25.6295
Epoch 184/200
1/1 [==============================] - 0s 9ms/step - loss: 25.5964
Epoch 185/200
1/1 [==============================] - 0s 6ms/step - loss: 25.5636
Epoch 186/200
1/1 [==============================] - 0s 7ms/step - loss: 25.5308
Epoch 187/200
1/1 [==============================] - 0s 6ms/step - loss: 25.4979
Epoch 188/200
1/1 [==============================] - 0s 5ms/step - loss: 25.4650
Epoch 189/200
1/1 [==============================] - 0s 9ms/step - loss: 25.4320
Epoch 190/200
1/1 [==============================] - 0s 5ms/step - loss: 25.3990
Epoch 191/200
1/1 [==============================] - 0s 6ms/step - loss: 25.3659
Epoch 192/200
1/1 [==============================] - 0s 7ms/step - loss: 25.3327
Epoch 193/200
1/1 [==============================] - 0s 8ms/step - loss: 25.2995
Epoch 194/200
1/1 [==============================] - 0s 9ms/step - loss: 25.2663
Epoch 195/200
1/1 [==============================] - 0s 13ms/step - loss: 25.2330
Epoch 196/200
1/1 [==============================] - 0s 6ms/step - loss: 25.1996
Epoch 197/200
1/1 [==============================] - 0s 8ms/step - loss: 25.1662
Epoch 198/200
1/1 [==============================] - 0s 13ms/step - loss: 25.1328
Epoch 199/200
1/1 [==============================] - 0s 6ms/step - loss: 25.0993
Epoch 200/200
1/1 [==============================] - 0s 7ms/step - loss: 25.0657

In [43]:
x_input = np.array([70, 80, 90])
x_input = x_input.reshape((1, n_steps))
x_input.shape

(1, 3)

In [44]:
model.predict(x_input)

1/1 [==============================] - 0s 20ms/step

array([[107.75781]], dtype=float32)